<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.georgasouthern.oodteamguha">

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/balance_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"

        <activity
            android:name="activities.Startup"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="activities.Initial_Input"
            android:label="@string/title_activity_initial__input"
            android:theme="@style/AppTheme">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name="activities.Initial_Input_2"
            android:label="@string/title_activity_initial__input_2"
            android:parentActivityName="activities.Initial_Input"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="activities.Initial_Input" />

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity android:name="activities.DatabaseTest" />
        <activity
            android:name="activities.NavPane"
            android:label="@string/title_activity_nav_pane"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".CalculateInflation"
            android:label="">
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".InflationResults"
            android:label=""></activity>
        <activity android:name=".BudgetUntil"></activity>
    </application>

</manifest>